@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Carrito";
    IEnumerable<NebulaCars.Models.Proforma> listItemsCarrito = new List<Proforma>();
    listItemsCarrito = @Model.elementosCarrito;
    Decimal montoTotal = @Model.montoTotal;
}

<h1 style="text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; padding-top: 3%;">CARRITO DE COMPRAS</h1>

<div style="text-align: center; padding-top: 1%; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><a class="btn btn-primary" asp-controller="Pago" 
        asp-action="Create" asp-route-monto="@montoTotal" style="text-align: center; font-size: 150%;">Realizar Pago</a><p>&nbsp;</p><p>&nbsp;&nbsp;&nbsp; Monto total a pagar: S/. @montoTotal</p></div>

<table class="table" style="text-align: center;">
    <thead>
        <tr style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold; font-size: 200%;">
            <th>
                NOMBRE DEL PRODUCTO
            </th>
            <th>
                CANTIDAD
            </th>
            <th>
                PRECIO
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Proforma item in Model.elementosCarrito) {
        <tr style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold; font-size: 130%;">
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td style="padding-left: 5%; padding-right: 5%;">
                <a asp-action="Edit" asp-route-id="@item.Id" style="padding-left: 5%; padding-right: 5%;">EDITAR SELECCIÓN</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="padding-left: 5%; padding-right: 5%;">ELIMINAR SELECCIÓN</a>
            </td>
        </tr>
}
    </tbody>
</table>