@model NebulaCars.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 60%;
            margin: auto;
            overflow: hidden;
        }

        h1 {
            font-size: 70px;
            font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;
            padding: 20px 0;
            color: #333;
        }
        
        h3, h4 {
            font-weight: bold;
            text-align: center;
            color: #333;
        }

        .details-container {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-top: 30px;
        }

        dl.row {
            margin: 20px 0;
        }

        dt {
            font-weight: bold;
            margin-bottom: 10px;
        }

        dd {
            margin-bottom: 20px;
        }

        .btn {
            padding: 10px 20px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px 5px;
            text-decoration: none;
            display: inline-block;
        }

        .btn-danger {
            background-color: #d9534f;
            color: #fff;
        }

        .btn-danger:hover {
            background-color: #c9302c;
        }

        .btn-back {
            background-color: #5cb85c;
            color: #fff;
        }

        .btn-back:hover {
            background-color: #4cae4c;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>BORRAR PRODUCTO</h1>
        <h3>Seguro que desea borrar el producto?</h3>
        <div class="details-container">
            <h4>Detalles del producto</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ImageURL)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ImageURL)
                </dd>
            </dl>
            
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a asp-action="Index" class="btn btn-back">Back to List</a>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
