@model IEnumerable<NebulaCars.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-size: 80px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; padding-left: 20px;">LISTA Y DETALLES DE PRODUCTOS</h1>

<p>
    <a asp-action="Create" style="font-size: 40px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; padding-left: 20px;">AÑADIR PRODUCTOS</a>
</p>
<table class="table" style="font-size: 20px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                <a asp-action="Edit" asp-route-id="@item.Id">EDITAR SELECCIÓN</a> |
                <a asp-action="Details" asp-route-id="@item.Id">DETALLES</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">BORRAR</a>
            </td>
        </tr>
}
    </tbody>
</table>