@model NebulaCars.Models.AgendarCitas
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Cita - Concesionaria</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }        
        main {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%); /* Color de fondo para la página */
            padding: 20px;
        }
        .form-container {
            background-color: #142239; /* Fondo azul para el formulario */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 600px;
        }
        .form-container .form-group label {
            color: white; /* Color blanco para los labels */
        }
        .btn-primary {
            background-color: #0056b3; /* Color azul oscuro para el botón */
            border: none;
        }
        .content {
            display: flex;
            width: 100%;
            max-width: 1200px; /* Ajusta este valor según sea necesario */
        }
        .form-section, .image-section {
            flex: 1;
            margin: 10px;
        }
        .image-section img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">        
        <main>          
            <div class="content">
                <div class="form-section">
                    <div class="form-container">
                    <form asp-controller="PostVentas" asp-action="EnviarCita" method="post" class="contact-form">                     
                        @using (Html.BeginForm("EnviarCita", "PostVentas", FormMethod.Post, new { @class = "form-group" }))
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Nombre)
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", required = "required", placeholder = "Ingrese su Nombre" })
                                @Html.ValidationMessageFor(model => model.Nombre)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required", type = "email", placeholder = "Ingrese su Email" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Telefono)
                                @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", required = "required", placeholder = "Ingrese su telefono" })
                                @Html.ValidationMessageFor(model => model.Telefono)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Ciudad)
                                @Html.TextBoxFor(model => model.Ciudad, new { @class = "form-control", required = "required", placeholder = "Ingrese la Cuidad" })
                                @Html.ValidationMessageFor(model => model.Ciudad)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TipoDocumento)
                                @Html.DropDownListFor(model => model.TipoDocumento, new SelectList(new[] { "DNI", "Carnet de Extranjería" }), new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.TipoDocumento)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NumeroDocumento)
                                @Html.TextBoxFor(model => model.NumeroDocumento, new { @class = "form-control", required = "required", placeholder = "Ingrese el numero de documento" })
                                @Html.ValidationMessageFor(model => model.NumeroDocumento)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Marca)
                                @Html.DropDownListFor(model => model.Marca, new SelectList(new[] { "Toyota", "Honda", "Ford" }), new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.Marca)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Modelo)
                                @Html.TextBoxFor(model => model.Modelo, new { @class = "form-control", required = "required", placeholder = "Ingrese el modelo del carro" })
                                @Html.ValidationMessageFor(model => model.Modelo)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Kilometraje)
                                @Html.TextBoxFor(model => model.Kilometraje, new { @class = "form-control", required = "required", placeholder = "Ingrese el kilometraje actual del carro" })
                                @Html.ValidationMessageFor(model => model.Kilometraje)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Placa)
                                @Html.TextBoxFor(model => model.Placa, new { @class = "form-control", required = "required", placeholder = "Ingrese el numero de la placa " })
                                @Html.ValidationMessageFor(model => model.Placa)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FechaCita)
                                @Html.TextBoxFor(model => model.FechaCita, new { @class = "form-control", required = "required", type = "date" })
                                @Html.ValidationMessageFor(model => model.FechaCita)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HoraCita)
                                @Html.TextBoxFor(model => model.HoraCita, new { @class = "form-control", required = "required", type = "time" })
                                @Html.ValidationMessageFor(model => model.HoraCita)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Mensaje)
                                @Html.TextAreaFor(model => model.Mensaje, new { @class = "form-control", placeholder = "Si desea poner alguna observacion" })
                                @Html.ValidationMessageFor(model => model.Mensaje)
                            </div>
                          
                            <button type="submit" class="btn btn-primary">Agendar Cita</button>
                        }
                        </form>  
                         <h1>@ViewData["Message"]</h1>
                    </div>
                </div>
                <div class="image-section">
                    <img src="~/images/portada.jpg" alt="Descripción de la imagen">
                    <p>Realizar oportunamente tu mantenimiento preventivo te permite</p>
                    <ul> 
                      <li>"Ahorro de combutible"</li>
                      <li>"Mayor durabilidad del motor"</li>
                      <li>"Mayor durabilidad de los componentes"</li>
                      </ul>
                    </ul>
                </div>
            </div>
        </main> 
    </div>
</body>
</html>
